.clear {
    clear: both;
}

html, body {
    height: auto !important;
}

html {
    position: relative;
    min-height: 100%;
}

body.error {
    background-color: #000 !important;
}

#main {
    padding-bottom: 91px;
}

#header-container {
    background-color: #009688;
    background-image: linear-gradient(
            #00796B, #009688, #009688
    ) !important;
}

#media-links {
    padding-top: 1em;
}

header {
    padding-top: 2.5rem !important;
    padding-bottom: 1.5rem !important;
}

#menu-button {
    margin-top: 1rem;
}

h1 a {
    display: block;
    text-indent: -1000em;
    background-size: 100%;
    background-image: url(../img/logo.png);
    max-width: 150px;
    width: 150px;
    max-height: 77px;
    height: 77px;
}

h1 a:hover {
    background-position: 100% 100%;
}

#media-links a.item {
    margin: 0 !important;
}

#navbar {
    background-color: #00796B;
    background-image: linear-gradient(
            #00796B, #006455, #00796B
    ) !important;
    border-top: #00706B solid 0.1rem;
    /*border-bottom: #004D40 solid 0.1rem;*/
    box-shadow: 0px 0.15rem 0.15rem 0px rgba(50, 50, 50, 0.64);
}

#navbar nav {
    padding: 0 !important;
}

#navbar .nav-menu {
    background-color: #00796B;
    background-image: linear-gradient(
            #00796B, #006455, #00796B
    ) !important;
    border-radius: 0 !important;
}

#navbar .empty-nav {
    padding: 0 !important;
    margin: 0.5rem !important;
}

#content-main {
    margin-bottom: 1rem;
}

#articles {
    margin-top: 2rem;
}

#articles article h2 {
    font-weight: normal !important;
    font-family: 'Oswald', sans-serif !important;
}

#articles article .segment {
    padding: 0 !important;
}

#articles article .article-content {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    color: #333;
}

article.single h1 {
    font-size: 2.45rem !important;
    font-weight: normal !important;
    margin-bottom: 1rem !important;
}

article.single {
    margin-top: 3rem;
    color: #555 !important;
    font-size: 14px !important;
}

article.single a {
    font-weight: 700;
}

article.single code {
    background-color: rgba(245, 217, 149, 0.3);
    font-family: Monaco, 'MonacoRegular', monospace;
    text-shadow: 0 0 0.2rem #fff;
    padding: 0.2rem 0.1rem;
    color: #333;
}

article.single blockquote {
    background-color: #f4f4f4;
    text-shadow: 0 0 0.2rem #ccc;
    color: #333;
    font-style: italic;
    padding-left: 0.5rem;
    border: 1px solid #ccc;
}

article.single p.metadata {
    color: #737373;
    font-family: "proxima-nova", sans-serif;
    padding-left: 0.3rem;
}

@media all and (max-width: 723px) {
    #main {
        padding-bottom: 219px !important;
    }

    footer {
        padding-bottom: -219px !important;
    }
}

footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    margin: 0 !important;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: -91px;
}

footer a {
    color: #E9E95E;
}

footer a:hover {
    color: #ccc;;
}

#pagination {
    margin-bottom: 2rem;
}

#footer-logo {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#cc-logo {
    margin-bottom: 0.5rem;
}

.bg {
    height: 100% !important;
    width: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
}

.error .pattern {
    width: 100% !important;
    height: 100% !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -90;
    color: #fff;
    background-image: url(../img/pattern-dotted.png);
}

.bg-image {
    background-size: cover !important;
    background: url(../img/error.jpg) no-repeat center center fixed;
}

h1.error {
    font-size: 6rem;
    color: #cccccc;
}

h1.mobile {
    margin-top: 2rem;
    color: #fff !important;
}

#error-main {
    color: #ccc !important;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 1rem !important;
}

#error-main a {
    color: #fff;
}