.clear {
  clear: both;
}
html {
  position: relative;
  min-height: 100%;
  height: auto !important;
}
body {
  height: auto !important;
}
body .error {
  background-color: #000 !important;
}
#main {
  padding-bottom: 91px;
}
#header-container {
  background-color: #009688;
  padding-bottom: 1rem;
}
#header-container header {
  padding-top: 2.5rem !important;
  padding-bottom: 1.5rem !important;
}
#header-container header h1 a {
  display: block;
  text-indent: -1000em;
  background-size: 100%;
  background-image: url(../img/logo.png);
  width: 101px;
  height: 46px;
  margin-left: 1rem;
}
#header-container header #media-links {
  padding-top: 1em;
}
#header-container header #media-links a.item {
  margin: 0 !important;
}
#header-container header #menu-button {
  margin-top: 1rem;
}
#navbar {
  background-color: #00897B;
  box-shadow: 0 0.15rem 0.15rem 0 rgba(50, 50, 50, 0.64);
}
#navbar nav {
  padding: 0 !important;
}
#navbar .nav-menu {
  background-color: #00897B;
  border-radius: 0 !important;
}
#navbar .empty-nav {
  padding: 0 !important;
  margin: 0.5rem !important;
}
#content-main {
  margin-bottom: 1rem;
}
#content-main #articles {
  margin-top: 2rem;
}
#content-main #articles article h2 {
  font-weight: 300 !important;
  font-family: 'Oswald', sans-serif !important;
}
#content-main #articles article p {
  font-family: 'Roboto', sans-serif !important;
  line-height: 1.6rem;
}
#content-main #articles article .segment {
  padding: 0 !important;
}
#content-main #articles article .article-content {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  color: #333;
}
#content-main article.single {
  margin-top: 3rem;
  color: #555 !important;
  font-family: 'Open Sans', Arial, Sans-Serif;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 2em !important;
}
#content-main article.single p {
  line-height: 2em !important;
}
#content-main article.single h1 {
  font-size: 3rem !important;
  margin-bottom: 1rem !important;
  text-align: center;
  font-weight: 300 !important;
  font-family: 'Oswald', sans-serif !important;
}
#content-main article.single a {
  font-weight: 700;
}
#content-main article.single code {
  background-color: rgba(245, 217, 149, 0.3);
  font-family: Monaco, 'MonacoRegular', monospace;
  text-shadow: 0 0 0.2rem #fff;
  padding: 0.2rem 0.1rem;
  color: #333;
}
#content-main article.single blockquote {
  background-color: #f4f4f4;
  text-shadow: 0 0 0.2rem #ccc;
  color: #333;
  font-style: italic;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
}
#content-main article.single p.metadata {
  color: #737373;
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}
#content-main article.single .code {
  margin-bottom: 1.5rem;
}
#pagination {
  margin-bottom: 2rem;
}
footer {
  background-color: #333;
  color: #fff;
  width: 100%;
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: -91px;
}
footer a {
  color: #E9E95E;
}
footer a:hover {
  color: #ccc;
}
footer #footer-logo {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
footer #cc-logo {
  margin-bottom: 0.5rem;
}
@media all and (max-width: 723px) {
  #main {
    padding-bottom: 219px !important;
  }
  footer {
    padding-bottom: -219px !important;
  }
  #pagination {
    margin-bottom: 5rem !important;
  }
}
